
			

<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->

	<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header page-header-xs dark">
				<div class="container">

					<h1>Commercial and Corporate</h1>

								<!-- 
									/* breadcrumbs */
									<ol class="breadcrumb">
										<li><a href="#">Home</a></li>
										<li><a href="#">Pages</a></li>
										<li class="active">Services</li> 
									</ol> 
									/* /breadcrumbs */
								-->

				</div>
			</section>
			<!-- /PAGE HEADER -->



	
			
					<div class="container text-center" style="background:url('/assets/heading_corporate.jpeg'); background-size: cover; background-position: bottom; height: 60vh; width: 100%;">
						<h1 class="m-0 wow fadeInUp" data-wow-delay="0.4s" style="line-height: 50vh; font-size: 5vh; letter-spacing: 1vh;">
							WE ARE 
							<!--
								TEXT ROTATOR
								data-animation="fade|flip|flipCube|flipUp|spin"
							-->
							<span class="rotate " data-animation="flipUp" data-speed="1500">
								ROCKET ELEVATORS, quality, powerful, eco-friendly
							</span>
						</h1>
					</div>
			

			<!-- PARALLAX -->
			<section class="parallax parallax-2" style="background-image: url('/assets/corporate_parallax.jpeg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container text-center">

					<h2 class="font-roboto mb-10">
						Over <span class="countTo" data-speed="4000">2000</span> clients
					</h2>

					<h3 class="fs-25">They're <span>satisfied</span>. We're <span>happy</span>!</h3>

				</div>

			</section>
			<!-- /PARALLAX -->

			<!-- GALLERY -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-3 col-sm-3"><!-- item -->
						<div class="item-box" style="background-color: rgb(83, 83, 83);">
								<img class="img-fluid" src="/assets/commercial_elevator.jpeg" width="600" height="400" alt="Front view elevator" style="margin: 1vh">
							<div class="item-box-desc">
								<h3>Classy style and finishing</h3>
							</div>
						</div>

					</div><!-- /item -->


					<div class="col-md-3 col-sm-3"><!-- item -->
						<div class="item-box" style="background-color: rgb(83, 83, 83);">
								<img class="img-fluid" src="/assets/commercial_elevator_people.jpeg" width="600" height="400" alt="People in front of elevator" style="margin: 1vh">
							<div class="item-box-desc">
								<h3>A lot of room for everyone</h3>
							</div>
						</div>
					</div><!-- /item -->


					<div class="col-md-3 col-sm-3"><!-- item -->
						<div class="item-box" style="background-color: rgb(83, 83, 83);">
								<img class="img-fluid" src="/assets/commercial_elevator_upperview.jpeg" width="600" height="400" alt="Elevator upperview" style="margin: 1vh">
							<div class="item-box-desc">
								<h3>Fit everywhere</h3>
							</div>
						</div>
					</div><!-- /item -->


					<div class="col-md-3 col-sm-3"><!-- item -->
						<div class="item-box" style="background-color: rgb(83, 83, 83);">
								<img class="img-fluid" src="/assets/fixing_elevator.jpeg" width="600" height="400" alt="worker in elevator" style="margin: 1vh">
							<div class="item-box-desc">
								<h3>Lifetime maintenance</h3>
							</div>
						</div>
					</div><!-- /item -->
				</div>
			</div>
			<!-- /GALLERY -->

			<!--PROCESS STEPS -->
			<section>
				<div class="container">

					<header class="text-center">
						<h2 class="m-0">Process Steps</h2>
						<p class="font-roboto fs-20 m-0">We truly care about our customers</p>
					</header>
					
					<div class="divider divider-center"><!-- divider -->
						<i class="fa fa-chevron-down"></i>
					</div>

					<ul class="process-steps nav nav-tabs nav-justified mt-100">
						<li class="nav-item">
							<a class="nav-link active" href="#step1" data-toggle="tab">1</a>
							<h5>Contact us</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step2" data-toggle="tab">2</a>
							<h5>Quote</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step3" data-toggle="tab">3</a>
							<h5>Choose what fits you</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step4" data-toggle="tab">4</a>
							<h5>payment</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step5" data-toggle="tab">5</a>
							<h5>Enjoy</h5>
						</li>
					</ul>

					<div class="tab-content mt-30">
						<div class="tab-pane active" id="step1">
							<strong>All</strong> of our employees are happy to help you with your question. Getting in touch with us is one of the first steps for discovering new heights.  
						</div>

						<div class="tab-pane" id="step2">
							<strong>GETTING</strong> a <a href="submission.html" style="text-decoration: underline; color:#79b7d4;">quote</a> is the fastest and the easiest way to visualize the cost of your elevation projects!
						</div> 

						<div class="tab-pane" id="step3">
							<strong>ALONG</strong> with the quote, you will have to choose between our different products. We have over a hundred options. But don't worry, our team is always one click away.
						</div>

						<div class="tab-pane" id="step4">
							<strong>ONLINE</strong> payment has never been so easy with us!  We offer you tons of deals every day alongside with tons of payment methods.
						</div>

						<div class="tab-pane" id="step5">
							<strong>IN</strong> our hands, your elevation project is a reality. 
						</div>
					</div>

				</div>
			</section>
			<!-- /PROCESS STEPS -->



			<!-- BUTTON CALLOUT -->
			<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-roboto fs-30">
					Did RocketElevators convinced you? 
					<strong style="text-decoration: underline;">Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->

	
<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->

		