

<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->


			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners" id="home">

				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE 1 -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Main Services">
							<!-- MAIN IMAGE -->
							<img src="/assets/main_services_revol_slider.jpeg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="150"
								data-y="100" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:55px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Welcome to a new state of elevation!  
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="200"
								data-y="195" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:25px; color:white; font-weight:100px; text-shadow:3px 0px 5px black;">
									Never stay down when your place is up there. <!-- Sub slogan -->
							</div>

							<!-- Slider button -->
							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="350"
								data-y="300" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-danger btn-lg" href="#services">Our Services &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
							
							<!-- Slider button -->
							<div class="tp-caption skewfromleft tp-resizeme  un-button-2-lg"
								data-x="600"
								data-y="300" 
								data-speed="300"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"

								style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-danger btn-lg" href="submission.html">Submission &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

						</li>

						<!-- SLIDE 2 -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential Services">
							<!-- MAIN IMAGE -->
							<img src="/assets/residential_revol_slider.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								Everywhere, even at your house ! 
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:25px; color:white; font-weight:100px; text-shadow:none;">
									If you ever dreamed of seeing new heights... <!-- Sub slogan -->
							</div>

							<!-- Slider button -->
							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-danger btn-lg" href="residential.html">Take me there &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>	
						</li>

						<!-- SLIDE 3 ------- MY ADDED SLIDE ------- -->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Corporate Services">
							<!-- MAIN IMAGE -->
							<img src="/assets/corporate_revol_slider.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								 Corporate services
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:25px; color:white; font-weight:100px; text-shadow:3px 0px 5px black;">
									Your needs is our priority. <!-- Sub slogan -->
							</div>

							<!-- Slider button -->
							<div class="tp-caption sfb tp-resizeme" 
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-danger btn-lg" href="corporate.html">More details &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>	
						</li>


					</ul>

				</div>
			</div>
			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->


			<!-- BUTTON CALLOUT -->
			<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-roboto fs-30">
					Did RocketElevators convinced you? 
					<strong style="text-decoration: underline;">Contact us &raquo;</strong>
				</span>
			</a>
			<!-- /BUTTON CALLOUT -->


			
			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						<div class="col-sm-4">
							<a class="image-hover " href="#awards" data-plugin-options='{"type":"iframe"}'>
								<img class="img-fluid" src="/assets/prize_and_projects_anim.gif" alt="Woman coming out of the elevator" />
							</a>

							<h3 class="mt-10">Prize and featured projects</h3>
							<p>Eco-Friendly Elevator, Premium Quality Services, Best Products of the Year and much more!</p>
							<a href="#portfolio" class="btn btn-default">SEE MORE</a>
						</div>

						<div class="col-sm-4">
								<img class="img-fluid" src="/assets/residential_services_anim.gif" alt="Flying view of houses" />
							</a>
							<h3 class="mt-10">Residential services</h3>
							<p>	Everything that you need for the perfect house. <br />
								Wheelchair elevator is now available!</p>
							<a href="residential.html" class="btn btn-default">READ MORE</a>
						</div>

						<div class="col-sm-4">
							<img class="img-fluid" src="/assets/corporate_services_anim.gif" alt="Puzzle with light" />
							<h3 class="mt-10">Corporate Building Services</h3>
							<p>Do you have an elevator project? Our products fit every type of building! <br /></p>
							<a href="corporate.html" class="btn btn-default">READ MORE</a>
						</div>

					</div>

				</div>
			</section>
			<!-- /Services -->

			


			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('/assets/index_parallax_elevator.jpeg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">RocketElevators Since 1976</h2>
						<a class="btn btn-default btn-lg" href="submission.html">REQUEST A QUOTE <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-danger btn-lg" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->




			<!-- PORTFOLIO -->
			<section id="portfolio">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Featured Work</h2>
					</div>

					<div class="text-center">
						<ul class="nav nav-pills mix-filter mb-60">
							<li data-filter="all" class="filter active"><a href="#">All</a></li>
							<li data-filter="award" class="filter"><a href="#">Awards</a></li>
							<li data-filter="projects" class="filter"><a href="#">Projects</a></li>
							<li data-filter="rewarded_rojects" class="filter"><a href="#">Rewarded projects</a></li>
						</ul>
					</div>

				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/screen_elevator_project.png" alt="elevator with a screen" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/screen_elevator_project.png"  alt="elevator with a screen" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Screen Expension</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Expension</a></li>
											<li><a href="#">Partnership</a></li>
											<li><a href="#">Project</a></li>

										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/world_wide_project.jpg" alt="blue earth with light connections" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/world_wide_project.jpg" alt="blue earth with light connections" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Worldwide Expension</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Expension</a></li>
											<li><a href="#">Project</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix rewarded_rojects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/ecofriendly_elevator_project.jpg" alt="green elevator" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/ecofriendly_elevator_project.jpg" alt="green elevator" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Introducing Eco-Friendly Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
											<li><a href="#">Green Project</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix award"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/award_best_year_recognition.jpg" alt="Award Best Product of the Year" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/award_best_year_recognition.jpg" alt="Award Best Product of the Year" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Best Product of the Year Recognition</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
											<li><a href="#">Recognition</a></li>
											<li><a href="#">2020</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix award"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/award_premium_quality_recognition.jpg" alt="Premium Quality Recognition" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/award_premium_quality_recognition.jpg" alt="Premium Quality Recognition" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Premium Quality Recognition</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
											<li><a href="#">recognition</a></li>
											<li><a href="#">2020</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix award"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/award_premium_quality_token.jpg" alt="Premium Quality Token" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/award_premium_quality_token.jpg" alt="Premium Quality Token" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Premium Quality Token</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
											<li><a href="#">Prize</a></li>
											<li><a href="#">2019</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix projects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/private_elevator_project.jpg" alt="Woman in a private elevator" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/private_elevator_project.jpg" alt="Woman in a private elevator" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Private Elevator System</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Project</a></li>
											<li><a href="#">Private</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix award"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/award_best_prod_year.jpg" alt="Best Product of the Year Prize" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/award_best_prod_year.jpg" alt="Best Product of the Year Prize" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Best Product of the Year</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
											<li><a href="#">Prize</a></li>
											<li><a href="#">2015</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix award"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/award_best_brand_recognition.jpg" alt="Best Brand Recognition" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/award_best_brand_recognition.jpg" alt="Best Brand Recognition" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Best Brand Award</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
											<li><a href="#">Recognition</a></li>
											<li><a href="#">2020</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix rewarded_rojects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/wheelchair_elevator_project.jpg" alt="Wheelchair elevator in a house" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/wheelchair_elevator_project.jpg" alt="Wheelchair elevator in a house" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>Wheelchair Elevator</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
											<li><a href="#">Care</a></li>
											<li><a href="#">Project</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix rewarded_rojects"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/no_exploitation_project.png" alt="hand to hand with a heart" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/no_exploitation_project.png" alt="hand to hand with a heart" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>The no exploitation Project</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
											<li><a href="#">Care</a></li>
											<li><a href="#">Project</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix award"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->
												<a class="ico-rounded lightbox" href="/assets/winner_services_month_recognition.jpg" alt="Winner with two stars" data-plugin-options='{"type":"image"}'>
													<span class="fa fa-plus fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="/assets/winner_services_month_recognition.jpg" alt="Winner with two stars" width="600" height="399" alt="">
									</figure>

									<div class="item-box-desc">
										<h3>The Best Services of the Month</h3>
										<ul class="list-inline categories m-0">
											<li><a href="#">Award</a></li>
											<li><a href="#">Recognition</a></li>
											<li><a href="#">Jan - 2020</a></li>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->




			<!-- Testimonials -->
			<section class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
								<img class="rounded" src="/assets/serge_savoie_ceo.png" alt="picture of Serge Savoie" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Winner of the CEO World Awards</p>
								<cite>
									Serge Savoie
									<span>RocketElevators CEO.</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<figure>
								<img class="rounded" src="/assets/felix_dallaire_employee_month.png" alt="picture of Felix Dallaire" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Employee of the month</p>
								<cite>
									Felix Dallaire
									<span>Web developper</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Testimonials -->





			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

					<!-- 
						controlls-over		= navigation buttons over the image 
						buttons-autohide 	= navigation buttons visible on mouse hover only
						
						data-plugin-options:
							"singleItem": true
							"autoPlay": true (or ms. eg: 4000)
							"navigation": true
							"pagination": true
							"items": "4"

						owl-carousel item paddings
							.owl-padding-0
							.owl-padding-3
							.owl-padding-6
							.owl-padding-10
							.owl-padding-15
							.owl-padding-20
					-->
					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
							<a href="https://thehill.com/homenews/campaign/479192-biden-goes-viral-with-elevator-selfie">
								<img class="img-fluid" src="/assets/article_selfie-elevator.jpg" alt="woamn taking a selfi in a elevator elevator">
							</a>

							<h4 class="text-left mt-20"><a href="https://thehill.com/homenews/campaign/479192-biden-goes-viral-with-elevator-selfie">Elevator Selfie: a trend ?</a></h4>
							<p class="text-left"> clip of former Vice President Joe Biden taking a selfie with an elevator operator on his way to a meeting with...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									25th Jan 2020
								</li>
								
							</ul>
						</div>

						<div class="img-hover">
							<a href="https://www.smithsonianmag.com/innovation/elevators-are-going-green-180968907/">
								<img class="img-fluid" src="/assets/article_green_elevator.jpg" alt="elevator with green leaves">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.smithsonianmag.com/innovation/elevators-are-going-green-180968907/">Elevators Are Going Green</a></h4>
							<p class="text-left">Each day, more than seven billion elevator journeys are taken in tall buildings all over the globe. Considering... </p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									21th Jan 2020
								</li>
							</ul>
						</div>

						<div class="img-hover">
							<a href="https://www.thyssenkrupp.com/en/company/innovation/industry-4-0/big-data-in-elevator-maintenance.html">
								<img class="img-fluid" src="/assets/article_data_Elevator.jpg" alt="Elevator with light">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.thyssenkrupp.com/en/company/innovation/industry-4-0/big-data-in-elevator-maintenance.html">Big data in elevator maintenance</a></h4>
							<p class="text-left">Over twelve million elevators around the world move more than a billion people every day...
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									16th Jan 2020
								</li>
						</ul>
						</div>

						<div class="img-hover">
							<a href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/">
								<img class="img-fluid" src="/assets/article_solar_elevator.png" alt="yellow elevator">
							</a>

							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2012/10/13/mezolift-first-solar-elevator/">First solar elevator!</a></h4>
							<p class="text-left">The solar lift was first presented in September, during the International Expo of thessaloniki 2011. Until now, the...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									13th Jan 2020
								</li>
							</ul>
						</div>
						
						<div class="img-hover">
							<a href="https://elevatortoday.com/2015/03/06/unique-spiral-escalator/">
								<img class="img-fluid" src="/assets/article_spiral_elevator.jpg" alt="Spiral shaped Elevator">
							</a>
							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2015/03/06/unique-spiral-escalator/">Unique spiral escalator</a></h4>
							<p class="text-left">The 12 spiral escalators, the largest order for a single project to date, serve six floors of the department store and...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									10th Jan 2020
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://elevatortoday.com/2014/05/02/hyundai-elevator-called-foot/">
								<img class="img-fluid" src="/assets/article_foot_button_elevator.jpg" alt="an elevator button">
							</a>
							<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2014/05/02/hyundai-elevator-called-foot/">Touchless footbutton elevator</a></h4>
							<p class="text-left">LThe company, who commanded more than 45 percent of the domestic market in 2013, said the New Yzer model is the first of...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									8th Jan 2020
								</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- /News -->



			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#" class="non-click">
								<img class="img-fluid" src="/assets/logo_goldenlock.png" alt="GoldenLock Logo" style="width: 50%;"/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#" class="non-click">
								<img class="img-fluid" src="/assets/logo_ascensiontech.png" alt="Ascension Tech Logo" style="width: 50%;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#" class="non-click">
								<img class="img-fluid" src="/assets/logo_award_building.png" alt="Award Building Logo" style="width: 50%;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#" class="non-click">
								<img class="img-fluid" src="/assets/logo_veumltd.png" alt="Veum Ltd Logo" style="width: 50%;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#" class="non-click">
								<img class="img-fluid" src="/assets/logo_denesik.png" alt="Denesik Logo" style="width: 50%;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#" class="non-click">
								<img class="img-fluid" src="/assets/logo_reilleybohem.png" alt="Reilley Bohem Logo" style="width: 50%;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#" class="non-click">
								<img class="img-fluid" src="/assets/logo_gibsoninc.png" alt="Gibson Inc Logo" style="width: 50%;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#" class="non-click">
								<img class="img-fluid" src="/assets/logo_lebrun_building.png" alt="LeBrun Building Logo" style="width: 50%;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#" class="non-click">
								<img class="img-fluid" src="/assets/logo_goldner.png" alt="Goldner Logo" style="width: 50%;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#" class="non-click">
								<img class="img-fluid" src="/assets/logo_grenier.png" alt="Grenier Logo" style="width: 50%;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#"  class="non-click">
								<img class="img-fluid" src="/assets/logo_astzone.png" alt="AstZone Logo" style="width: 50%;" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a href="#"  class="non-click">
								<img class="img-fluid" src="/assets/logo_harrishouse_ware.png" alt="HarrisHouse Ware Logo" style="width: 50%;" />
							</a>
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->




<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->
