
<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->

			<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header page-header-xs dark">
				<div class="container">

					<h1>RESIDENTIAL SERVICES</h1>

													<!-- 
														/* breadcrumbs */
														<ol class="breadcrumb">
															<li><a href="#">Home</a></li>
															<li><a href="#">Pages</a></li>
															<li class="active">Services</li> 
														</ol> 
														/* /breadcrumbs */
													-->

				</div>
			</section>
			<!-- /PAGE HEADER -->


			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('/assets/residential_revol_slider.jpeg');">
				<div class="overlay dark-8"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<header class="text-center">
						<h2 class="m-0">Features</h2>
						<p class="font-roboto fs-20 m-0">We truly care about our customers</p>
					</header>

				</div>


				<!-- BASIC ELEVATOR -->
				<div class="container ">

					<div class="row mt-80">

						<div class="col-lg-6 col-md- push-md-6 text-center order-md-2 order-lg-2">
						
							<img class="img-fluid" src="/assets/residential_basic_elevator.png" style=" align-self: auto;" alt="Elevator with no background" />

						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 order-md-1 order-lg-1">

							<div>
								
								<h2><i class="fa fa-cogs" ></i> Custom Settings</h2>
								<p>Our elevators are fully customizable!</p>
							</div>

							<div>
								<h2><i class="fa fa-flash" ></i> High Performance</h2>
								<p>Even in a power outage, our products have a 24h battery life for your safety.</p>
							</div>

						</div>

						<div class="col-lg-3 col-md-3 col-sm-3 order-md-3 order-lg-3">

							<div>
								<h2><i class="fa fa-tablet"></i> New Screen Technology</h2>
								<p>With our new partnership, all of our elevators are equipped with the new Retina Screen technology.</p>
							</div>

							<div>
								<h2><i class="fa fa-tint"></i> Reusable Elements</h2>
								<p>We guaranteed that our products are eco-friendly and reusable!</p>
							</div>
						</div>
					</div>
				</div>
			<!-- /BASIC ELEVATOR-->


			</section>
			<!-- /Parallax -->
			



			<!-- WHEELCHAIR ELEVATOR -->
			<section class="dark">
				<div class="container">
					<div class="row">
						<div col-md-4>
							<h1>Introducing the personal Wheelchair Elevator !</h1>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div>
									<h2 style="color:#dc3545"><i class="fa fa-cogs"></i> Silent Motor Technology</h2>
									<p>You will never hear such a quiet elevator.</p s>
								</div>
								<div>
									<h2 style="color:#dc3545"><i class="fa fa-flash"></i> Low Electricity Mode</h2>
									<p>The WheelChair Elevator can run on a low-powered mode to lower your electricity bills.</p>
								</div>
								<div>
									<h2 style="color:#dc3545"><i class="fa fa-tint"></i> performance</h2>
									<p >As we said before, they are truly eco-friendly. </p>
								</div>
							</div>

							<div class="col-md-4">
								<img src="/assets/residential_wheelchair_elevator.jpg" alt="Wheel chair elevator" style="max-width: 200%;">
							</div>
							
							<div class="col-md-9">
								<a class="btn btn-default btn-lg float-right" href="submission.html">REQUEST A QUOTE <i class="fa fa-angle-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- /WHEELCHAIR ELEVATOR -->


			<!--PROCESS STEPS -->
			<section>
				<div class="container">

					<header class="text-center">
						<h2 class="m-0">Process Steps</h2>
						<p class="font-roboto fs-20 m-0">We truly care about our customers</p>
					</header>
					
					<div class="divider divider-center"><!-- divider -->
						<i class="fa fa-chevron-down"></i>
					</div>

					<ul class="process-steps nav nav-tabs nav-justified mt-100">
						<li class="nav-item">
							<a class="nav-link active" href="#step1" data-toggle="tab">1</a>
							<h5>Contact us</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step2" data-toggle="tab">2</a>
							<h5>Quote</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step3" data-toggle="tab">3</a>
							<h5>Choose what fits you</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step4" data-toggle="tab">4</a>
							<h5>payment</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#step5" data-toggle="tab">5</a>
							<h5>Enjoy</h5>
						</li>
					</ul>

					<div class="tab-content mt-30">
						<div class="tab-pane active" id="step1">
							<strong>All</strong> of our employees are happy to help you with your question. Getting in touch with us is one of the first steps for discovering new heights.  
						</div>

						<div class="tab-pane" id="step2">
							<strong>GETTING</strong> a <a href="submission.html" style="text-decoration: underline; color:#79b7d4;">quote</a> is the fastest and the easiest way to visualize the cost of your elevation projects!
						</div> 

						<div class="tab-pane" id="step3">
							<strong>ALONG</strong> with the quote, you will have to choose between our different products. We have over a hundred options. But don't worry, our team is always one click away.
						</div>

						<div class="tab-pane" id="step4">
							<strong>ONLINE</strong> payment has never been so easy with us!  We offer you tons of deals every day alongside with tons of payment methods.
						</div>

						<div class="tab-pane" id="step5">
							<strong>IN</strong> our hands, your elevation project is a reality. 
						</div>
					</div>

				</div>
			</section>
			<!-- /PROCESS STEPS -->

<!--*******************************************************************************************************************************************************************************************************************************************
	*******************************************************************************************************************************************************************************************************************************************-->
