<%# ----- To give the access to the employees - part 1/2 ----------- %>
<% if user_signed_in? && current_user.is_employee(current_user.email)  %>


<div class="container">
<br><br><br> 
    <h1>New Intervention</h1>
    <%= render 'form', intervention: @intervention %>
    <%= link_to 'Back', interventions_path, class: 'btn btn-success btn-sm'%>
</div>
<%# ----- To give the access to the employees - part 2/2 ----------- %>
<% else %>
<br><br><br> 
<br><br><br>
    <div class = "container">
        <h1>This page is reserved to the Employees</h1>
        <h4>Please Login with your employee code</h4>
        <%= link_to "Login", new_user_session_path, :class => 'btn btn-warning'  %><br>														
    </div>
<% end %>