body{
    background-color: none;
}

table::-webkit-scrollbar{width:5px}
table::-webkit-scrollbar-track{background:#4b443d;border-radius:0px}
table::-webkit-scrollbar-thumb{background:#cccccc;border-radius:10px}

table{
    font-size: 1vh;
    margin: 2vh;
    width: auto;
    height: auto;
    overflow-x: scroll;
}

.tab-content{
    overflow: auto;
}

.profile_container{
    background-color: white;
    height: auto;
    width: auto;
    padding: 3vh 10vh;
    margin: 3vh;
    text-align: center;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 11px rgba(177, 171, 171, 0.15), 
                -5px -5px 11px rgba(236, 236, 236, 0.50)
}    

#userAvatar {
    margin: 2vh;
    border-radius: 100%;
}




#nav-profile h1{
    color: black;
    text-align: center;
    margin :1vh
}

#main{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    margin: 1vh;
    width: 80vh
}

.lowerNav a{
    color: rgb(172, 172, 172);
    background-color: rgb(231, 231, 231);
    width: 10vh;
    padding: 1vh 25vh 1vh 20vh;
    text-align: left;
    margin: 1vh 0vh
}




.lowerNac_container{
background-color: white;
}